@import '/node_modules/boxicons/css/boxicons';

$boxicons-font-path: 'boxicons';
$boxicons-font-size-base: 16px;


.bx {
  vertical-align: middle;
  font-size: 1.15rem;
  line-height: 1;
}

@font-face {
  font-family: 'boxicons';
  font-weight: normal;
  font-style: normal;
}
